{% extends 'university_basic.html' %}

{% block title %}在读学生信息{% endblock %}
{% block menu_name%}学生信息{% endblock %}
{% block menu_content %} 
    <li class="menu-item"><a href="{{ url_for('team1.page3') }}">在读学生信息</a></li>
    <li class="menu-item"><a href="{{ url_for('team1.page5') }}">毕业学生信息</a></li>
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <h3>在读学生信息</h3>
        <hr class="sep-line">

        <div class="student-content">
            {% for student in studentInfo %}
            <a href="{{ url_for('team1.page4', student_id = student.student_id) }}">
                <div class="student-card">
                    <img class="student-photo"src="../../static/images/teacherExample.jpg">
                    <p class="student-name">{{ student.name }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}