{% extends 'university_basic.html' %}

{% block title %}兼职教师{% endblock %}
{% block menu_name%}师资队伍{% endblock %}
{% block menu_content %} 
    <li class="menu-item"><a href="{{ url_for('team1.page1') }}">全职教师</a></li>
    <li class="menu-item"><a href="{{ url_for('team1.page1') }}">兼职教师</a></li>
{% endblock %}

{% block main_content %}
    <div class="main-content">
    <h3>兼职教师</h3>
    <hr class="sep-line">

    {% for teacher in teacherInfo %} 
        <div class="teacher-card">
            <img class="teacher-photo" src="../static/images/teacherExample.jpg">
            <div class="teacher-information">
                <h3>{{ teacher.name }}</h3>
                <span>学院:</span>
                <span>{{ teacher.college }}</span>
                <br>
                <span>学历:</span>
                <span>{{ teacher.degree_level }}</span>
                <br>
                <hr class="teacher-line">
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}