{% extends 'header.html' %}

{% block title %}uwu{% endblock %}

{% block style %}

        </link rel="stylesheet" href="{{ url_for('static', filename='css/team1.css') }}">
{% endblock %}

{% block content %} 
    <div class="content">
        <div class="sidebar">
            <div class="sidebar-header">{% block menu_name %} {% endblock %}</div>
            <ul class="sidebar-menu">
                {% block menu_content %}{% endblock %}

            </ul>
        </div>
        {% block main_content%}

        {% endblock %}
    </div>
    
{% endblock %}